<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">SoilSensor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>

<body>
    <div class="container">

        <h1>Your SoilSensor Setups</h1>

        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSetupModal">
            Add Setup
        </button> {% if setups %}
        <div class="row">
            {% for setup in setups %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ setup.image_url if setup.image_url else url_for('static', filename='images/plant_placeholder.webp') }}" class="card-img-top" alt="{{ setup.name }}">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ setup.name }}</h5>
                        
                        <!-- Statistics -->
                        <p class="card-text">
                            <strong>Last Watered:</strong> {{ setup.last_watered.strftime('%Y-%m-%d') if setup.last_watered else 'Never' }}<br>
                            <strong>Auto-Watering:</strong> {{ 'Enabled' if setup.auto_water_enabled else 'Disabled' }}<br>
                            <strong>Number of Sensors:</strong> {{
                                (setup.capacitive_sensor_key is not none) +
                                (setup.temperature_sensor_key is not none) +
                                (setup.light_sensor_key is not none) +
                                (setup.mosfet_driver_key is not none)
                            }}
                        </p>
                        
                        <a href="{{ url_for('setup_details', setup_id=setup.id) }}" class="btn btn-primary">View Details</a>
                        <a href="{{ url_for('edit_setup', setup_id=setup.id) }}" class="btn btn-warning">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No setups found. Create a new setup.</p>
        {% endif %}
        <div class="modal fade" id="addSetupModal" tabindex="-1" aria-labelledby="addSetupModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSetupModalLabel">Add New Setup</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('add_setup') }}" method="POST">
                            <div class="mb-3">
                                <label for="setupName" class="form-label">Setup Name</label>
                                <input type="text" class="form-control" id="setupName" name="name" required>
                                <label for="imageUrl" class="form-label">Image URL</label>
                                <input type="text" class="form-control" id="imageUrl" name="image_url" placeholder="Enter image URL">
                                <label for="capacitiveSensorKey" class="form-label">Capacative Sensor Key</label>
                                <input type="text" class="form-control" id="capacitiveSensorKey" name="CSKey" required>
                                <label for="temperatureSensorKey" class="form-label">Temperature Sensor Key</label>
                                <input type="text" class="form-control" id="temperatureSensorKey" name="TSKey" required>
                                <label for="lightSensorKey" class="form-label">Light Sensor Key</label>
                                <input type="text" class="form-control" id="lightSensorKey" name="LSKey" required>
                                <label for="MosfetDriverKey" class="form-label">Mosfet Driver Key</label>
                                <input type="text" class="form-control" id="MosfetDriverKey" name="MDKey" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Setup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>